<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Paypal Node App</title>
</head>

<body>
  <h1>Boston Red Sox Hat</h1>
  <img src="http://images.footballfanatics.com/FFImage/thumb.aspx?i=/productImages/_2659000/ff_2659885_full.jpg&w=340" alt="">
  <h2>Buy For $25</h2>
  <form action="/pay" method="post">
    <input type="submit" value="Buy">
  </form>
</body>

</html>
